@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/*navbar*/
nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 1440px;
  height:150px;
  margin: 0 auto;
}
/*navbar*/
nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
font-size: 20px;
font-weight:100;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border: 1px solid #ddd;
padding: 10px 20px;
display: inline-block;
color:rgb(13, 19, 33);
}
/*banner section styles*/
.banner-section{
  height:552px;
  width: 1440px;
  margin: 0 auto;
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner{
  width: 998px;
height: 440px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner-title{
  color: rgb(13, 19, 33);
font-size: 38px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
position: relative;
top: 20px;
}
.banner-description{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 200;
line-height: 26px;
text-align: center;
position: relative;
top: 20px;
}
.banner-btn{
  position: relative;
  top: 60px;
}
.banner-btn a{
text-decoration: none;
display: inline-block;
padding: 15px 25px;
border-radius:10px;
background: rgb(13, 19, 33);
color: #ddd;
}
.banner img{
  position: relative;
  top: 20px;
}
/*development part styles*/
.fixed-width{
  max-width: 852px;
  margin: 0 auto;
  height:auto;
}
.development-section{
  width: 950px;
  background-color:rgb(250, 250,251);
  margin: 0 auto;
  margin-top: 100px;
}
.web-development{
  display: flex;
  flex-direction:column;
  justify-content: center;

}
.web-development-title{
  color: rgb(13, 19, 33);
font-size:28px;
font-weight:600;
line-height: 26px;
text-align: center;

}
.web-development-description{
font-size: 12px;
font-weight:200;
line-height:20px;
letter-spacing: 0%;
color: rgb(13, 19, 33);
}
.change-world-section{
display: flex;
justify-content: space-between;
margin-top:80px;
}
.left-content-section{
  max-width: 50%;
}
.right-img-section{
  max-width: 50%;
}
.right-img-section img{
  width: 259.56px;
  height: 217.01px;
}
.left-content-title{
  font-size: 22px;
  font-weight:800;
  line-height: 26px;
  letter-spacing: 0%;
  color: rgba(13, 19, 33, 0.7);
}
.left-content-des{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 200;
line-height: 24px;
}
.btn-development{
  font-size: 25px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  color: rgb(13, 19, 33);
}
/*morden web section style*/
.morden-web-section{
  width: 852px;
  margin: 0 auto;
  display: flex;
  margin-top: 80px;
}
.morden-web-section-left{
  width: 35%;
}
.morden-web-section-right{
  width: 65%;
}
.mordern-web-title{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.mordern-web-des{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}
.btn-morden-web{
  font-size: 25px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: 30px;
}
.btn-morden-web a{
  text-decoration: none;
  color: rgb(13, 19, 33);
}